# Get these from the myenergi app (My Account > Advanced)
MYENERGI_HUB_SERIAL=sn-goes-here
MYENERGI_API_KEY=api-key-goes-here

# Optional: if you know your server already (e.g. s18)
# MYENERGI_SERVER=
